<div class="container">
  <form>
    <div class="row">
      <div class="col-lg-4">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">email</span>
          <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" (keyup)="onKey($event)">
        </div>
        <!-- button submit -->
        <button type="submit" class="btn btn-info btn-med" (click)="onValidate()"> <!-- event binding -->
          <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Send
        </button>
        <!-- success message -->
        <div class="alert alert-success" role="alert" [hidden]="successMsg"> <!-- property binding -->
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Success:</span>
          Welcome {{ user }}!
        </div>

        <!-- error message -->
        <div class="alert alert-danger" role="alert" [hidden]="failureMsg"> <!-- property binding -->
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Enter a valid email address
        </div>
      </div>

      <div class="col-lg-4">
        <!-- empty -->
      </div>
    </div>
  </form>
</div>
